@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase
@attribute [Authorize]
<header>
    <div class="container">
        <a id="logo" href="">
            <img src="/images/logos/logo-light.svg" alt="Silicon" />
        </a>
        <nav>
            <NavLink href="" Match="NavLinkMatch.All">Overview</NavLink>

            <AuthorizeView>
                <Authorized>
                    <NavLink href="/courses">Courses</NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink href="/features">Features</NavLink>
                </NotAuthorized>
            </AuthorizeView>
            <NavLink href="/contacts">Contact</NavLink>
        </nav>

        <div id="theme-switch" class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode" @onclick="ToggleTheme" />
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
        </div>

        <div class="account-buttons">

            <AuthorizeView>
                <Authorized>
                    <div class="profile">
                        <div class="profile-image">
                            <a href="/account/details">
                                <img src="/images/uploads/profiles/avatar.jpg" />
                            </a>
                        </div>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <a class="btn btn-gray" href="/signin"><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
                    <a class="btn btn-theme" href="/signup"><i class="fa-regular fa-user"></i>Sign up</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</header>

@code {
    private bool IsDarkMode { get; set; } = false;

    private void ToggleTheme()
    {
        IsDarkMode = !IsDarkMode;
        // Implement logic to toggle between light and dark themes
        // For example:
        // if (IsDarkMode)
        // {
        //     // Apply dark theme styles
        // }
        // else
        // {
        //     // Apply light theme styles
        // }
    }

    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity.IsAuthenticated;
    }
}
